pipeline/GetMetadata_LastModifiedData.json
{
	"name": "GetMetadata_LastModifiedData",
	"properties": {
		"activities": [
			{
				"name": "Get_Metadata_LatsModified_AndMore",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "azurestorage_Goutham_blob_inputemp_tq",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"size",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "usp_InsertLastModified",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get_Metadata_LatsModified_AndMore",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_InsertLastModifiedDate]",
					"storedProcedureParameters": {
						"FileName": {
							"value": {
								"value": "@activity('Get_Metadata_LatsModified_AndMore').output.itemName\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ModifiedDate": {
							"value": {
								"value": "@activity('Get_Metadata_LatsModified_AndMore').output.lastModified\n",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RecordInsertDate": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Goutham",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Copy Wizards"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-26T23:50:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}